.Polaris-Modal-Dialog__Container {
  .Polaris-Modal-Header {
    padding: 20px;
    .Polaris-Icon {
      width: 20px;
      height: 20px;
    }
    .Polaris-Modal-Header__Title {
      h2 {
        font-size: 18px;
      }
    }
  }
}